{% extends "layout.html" %}

{% block title %}

<title>My Model Website: About Us</title>
<meta name="description" content="This is the about us page for my model agency website">

{% endblock %}

{% block main %}

<style>
    #about {
        border-bottom: solid 3px black;
        padding-bottom: 16px;
    }
</style>

<div class="container">

    <div class="content">

        <h1>About Us</h1>
        <img src="/static/images/about_us.jpg" alt="About Us Image" id="about_image">
        <div id="about_text">
            <p>
            Lorem ipsum dolor sit amet, quando recusabo qui at. Inani mollis ius ei, nam id accusam posidonium. Cum ne facer sanctus, aliquid neglegentur ex nam. Idque commune ut mei, duis debet nec ne. Solum aperiam mel at, per sumo verear ex. Lorem ipsum dolor sit amet, quando recusabo qui at. Inani mollis ius ei, nam id accusam posidonium. Cum ne facer sanctus, aliquid neglegentur ex nam. Idque commune ut mei, duis debet nec ne. Solum aperiam mel at, per sumo verear ex. Lorem ipsum dolor sit amet, quando recusabo qui at. Inani mollis ius ei, nam id accusam posidonium. Cum ne facer sanctus, aliquid neglegentur ex nam. Idque commune ut mei, duis debet nec ne. Solum aperiam mel at, per sumo verear ex.
            </p>
            <p>
            Id vis quando inimicus, adipisci sensibus definitionem sit ei. Vix habeo feugait ut, euripidis aliquando in est. Ex has accumsan perpetua. Ipsum dicat ne cum, debitis accusamus deterruisset usu at. Id vis quando inimicus, adipisci sensibus definitionem sit ei. Vix habeo feugait ut, euripidis aliquando in est. Ex has accumsan perpetua. Ipsum dicat ne cum, debitis accusamus deterruisset usu at. Id vis quando inimicus, adipisci sensibus definitionem sit ei. Vix habeo feugait ut, euripidis aliquando in est. Ex has accumsan perpetua. Ipsum dicat ne cum, debitis accusamus deterruisset usu at.
            </p>
            <h2>Heading - H2 Tag</h2>
            <p>
            Homero vocibus euripidis est et. Iriure forensibus reformidans quo ex, ne pro dictas mentitum euripidis. Vel munere assentior eu, id percipitur liberavisse comprehensam est. Mei ne errem mnesarchum, minimum phaedrum comprehensam te nam. Homero vocibus euripidis est et. Iriure forensibus reformidans quo ex, ne pro dictas mentitum euripidis. Vel munere assentior eu, id percipitur liberavisse comprehensam est. Mei ne errem mnesarchum, minimum phaedrum comprehensam te nam. Homero vocibus euripidis est et. Iriure forensibus reformidans quo ex, ne pro dictas mentitum euripidis. Vel munere assentior eu, id percipitur liberavisse comprehensam est. Mei ne errem mnesarchum, minimum phaedrum comprehensam te nam.
            </p>
            <p>
            <ol>
                <li>Mei dicant mentitum deterruisset ea, in tempor similique qui, ad pro solet aperiam.</li>
                <li>Duo solum novum utinam et, per bonorum salutandi repudiare ex.</li>
                <li>Mei an unum tantas alienum, nam partem iuvaret inciderint at.</li>
                <li>Pro cu unum duis animal.</li>
                <li>Nec in nisl consul partem. An pri nihil tempor impedit.</li>
                <li>Sea no putant dictas concludaturque, amet falli hendrerit nec cu, ut has wisi veritus omnesque.</li>
                <br>
            </ol>
            </p>
            <h3>Heading - H3 Tag</h3>
            <p>
            Rebum postea ut sit, autem vivendum nam eu. Indoctum concludaturque vis ex, pri ei nobis efficiantur ullamcorper. An eam vide dolores, at admodum offendit per, tale animal perfecto eu sit. His quis nostro te. No quo duis solet delenit, primis mucius cu cum. Rebum postea ut sit, autem vivendum nam eu. Indoctum concludaturque vis ex, pri ei nobis efficiantur ullamcorper. An eam vide dolores, at admodum offendit per, tale animal perfecto eu sit. His quis nostro te. No quo duis solet delenit, primis mucius cu cum. Rebum postea ut sit, autem vivendum nam eu. Indoctum concludaturque vis ex, pri ei nobis efficiantur ullamcorper. An eam vide dolores, at admodum offendit per, tale animal perfecto eu sit. His quis nostro te. No quo duis solet delenit, primis mucius cu cum.
            </p>
            <p>
            <ul>
                <li>Mei dicant mentitum deterruisset ea, in tempor similique qui, ad pro solet aperiam.</li>
                <li>Duo solum novum utinam et, per bonorum salutandi repudiare ex.</li>
                <li>Mei an unum tantas alienum, nam partem iuvaret inciderint at.</li>
                <li>Pro cu unum duis animal.</li>
                <li>Nec in nisl consul partem. An pri nihil tempor impedit.</li>
                <li>Sea no putant dictas concludaturque, amet falli hendrerit nec cu, ut has wisi veritus omnesque.</li>
            </ul>
            </p>
            <p>
            Mei dicant mentitum deterruisset ea, in tempor similique qui, ad pro solet aperiam. Duo solum novum utinam et, per bonorum salutandi repudiare ex. Mei an unum tantas alienum, nam partem iuvaret inciderint at. Pro cu unum duis animal. Nec in nisl consul partem. An pri nihil tempor impedit. Sea no putant dictas concludaturque, amet falli hendrerit nec cu, ut has wisi veritus omnesque. Mei dicant mentitum deterruisset ea, in tempor similique qui, ad pro solet aperiam. Duo solum novum utinam et, per bonorum salutandi repudiare ex. Mei an unum tantas alienum, nam partem iuvaret inciderint at. Pro cu unum duis animal. Nec in nisl consul partem. An pri nihil tempor impedit. Sea no putant dictas concludaturque, amet falli hendrerit nec cu, ut has wisi veritus omnesque.
            </p>
        </div>

    </div>

</div>

{% endblock %}
