{% extends "layout.html" %}

{% block title %}

<title>My Model Website: Customer Enquiries</title>
<meta name="description" content="This is the customer enquiries page for my model agency website">

{% endblock %}

{% block main %}

<div class="container">

    <div class="content">

        <h1>Customer Enquiries</h1>
        
        <div style="padding-top: 10px; margin:0 auto;" id="dashbord_menu">
            
            <form action="/admin">
                <button id="dashboard_button" type="submit">Return To Dashboard</button><br>
            </form>
            
            {% if not enquiry_list %}
                <p id=empty_list> THERE ARE NO ENQUIRIES TO DISPLAY </p>
            {% endif %}
            
            <table style="width:80%; margin:0 auto;" id="enquiry_table">
                <thead>
                {% for row in enquiry_list %}
                    <tr class="row" id="enquiry_row">
                        <th class="col" id="enquiry_column">Name</th>
                        <th class="col" id="enquiry_column">Company</th>
                        <th class="col" id="enquiry_column">Phone</th>
                        <th class="col-5" id="enquiry_column">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row" id="enquiry_row">
                        <td class="col" id="enquiry_column">{{ row.name }}</td>
                        <td class="col" id="enquiry_column">{{ row.company }}</td>
                        <td class="col" id="enquiry_column">{{ row.phone }}</td>
                        <td class="col-5" id="enquiry_column">{{ row.email }}</td>
                    </tr>
                    <tr class="row" id="enquiry_row">
                        <th class="col" id="enquiry_column">Message</th>
                    </tr>
                    <tr class="row" id="enquiry_row">
                        <td class="col" id="enquiry_column">{{ row.message }}</td>
                    </tr>
                    <tr class="row" id="enquiry_row">
                        <td class="col" id="enquiry_column">
                            <form action="/enquiries" method="post">
                                <button id="enquiry_delete" type="submit" value="{{ row.id }}" name="delete">Delete Enquiry</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

</div>

{% endblock %}
