{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in holding %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.price | usd }}</td>
                    <td>{{ row.total | usd  }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ funds | usd  }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>{{ balance | usd  }}</th>
            </tr>
        </tfoot>
    </table>


{% endblock %}
